@model Proyecto_Web.Models.Domain.Persona
@using Proyecto_Web.Models.Domain

@{
    ViewData["Title"] = "Mis Proyectos";
    <!-- Recepcion y casting de la persona enviada desde el controlador -->
    Persona persona = (Persona)ViewData["personaEncontrada"]; 
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">@ViewData["Title"]</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     <span class="glyphicon glyphicon-user"></span> @persona.Email <b class="caret"></b>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="#">Agregar Proyecto</a></li>
                    <li class="divider"></li>
                    <li><a asp-action="Index" asp-controller="Home">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div style="padding-top: 100px; width: 300px">
    <div class="list-group">
        <li class="list-group-item list-group-item-success"><strong>Colaborando</strong></li>
        <!-- por cada proyecto donde participa la persona -->
        @foreach (Trabajadores trabajo in persona.Trabajadores)
        {
            <a href="#" class="list-group-item">@trabajo.IdProyecto</a>         
        }

    </div>
    <div class="list-group" style="padding-top: 20px">
        <li class="list-group-item list-group-item-warning"><strong>Director</strong></li>
        <!-- por cada proyecto donde participa la persona -->
        @foreach (Proyecto proyecto in persona.Proyecto)
        {
            <a asp-controller="MisProyectos" asp-action="Proyectos" asp-route-id="@proyecto.Id" class="list-group-item">@proyecto.Nombre</a>         
        }

    </div>
</div>

